{% extends 'layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1 class="text-center">University Database Project</h1>

<div class="list-group">
  <a href="/students/avg_marks" class="list-group-item">Середній бал студентів</a>
  <a href="/good_students" class="list-group-item">Студенти, якій отримують стипендію (середній бал &gt;= 4)</a>
  <a href="/excellent_students" class="list-group-item">Відмінники (середній бал = 5)</a>
  <a href="/students?grade=1" class="list-group-item">Першокурсники</a>
  <a href="/students?grade=5" class="list-group-item">П'ятикурсники</a>
</div>

<h2 class="text-center">Динамічний запит</h2>
<form method="POST" action="/" role="form" class="well">
  <div class="form-group">
    <label for="query">SQL Запит</label>
    <input type="text" name="query" id="query" class="form-control" placeholder="Введіть ваш SQL запит" />
  </div>
  <input type="submit" value="Виконати" class="btn btn-default" />
</form>
{% endblock %}
