<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- CSS -->
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/static/css/main.css" />

    <!-- JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/vendor/sorttable/sorttable.js"></script>

    <title>{% block title %}{% endblock %} | University Database</title>
  </head>
  <body>
    {% set navigation_bar = [
        ('/students', 'students', 'Студенти'),
        ('/teachers', 'teachers', 'Викладачі'),
        ('/subjects', 'subjects', 'Предмети'),
        ('/marks', 'marks', 'Оцінки')
    ] -%}

    {% set active_page = active_page|default(None) -%}

    <header>
      <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">

          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navigation">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">University Database</a>
          </div>

          <div class="collapse navbar-collapse" id="main-navigation">
            <ul class="nav navbar-nav">
            {% for href, id, caption in navigation_bar %}
              <li {% if id == active_page %}class="active"{% endif %}>
                <a href="{{ href|e }}">{{ caption|e }}</a>
              </li>
            {% endfor %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
            </ul>

          </div>
        </div>
      </nav>
    </header>

    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        <div class="flashes">
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
          </div>
        {% endfor %}
      </div>
      {% endif %}
    {% endwith %}

    <main class="container-fluid">
      {% block content %}{% endblock %}
    </main>

    <footer class="footer">
      <div class="container-fluid">
        <p class="text-center text-muted">&copy; Copyright 2016, Yury Kozhenov.</p>
      </div>
    </footer>

  </body>
</html>
