{% extends "layout.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<form method="POST" action="/{{ active_page }}/find" role="form" class="well">
  {{ form.hidden_tag() }}
  {% for field in form if field.widget.input_type != 'hidden' %}
  <div class="form-group">
    {{ field.label }}
    {{ field(class="form-control", placeholder=field.label.text) }}

    {% if field.errors %}
      <div class="errors">
        {% for error in field.errors %}
          <div class="alert alert-danger alert-dismissible fade in">
            <button type="button" class="close" data-dismiss="alert" aria-label="close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{ error }}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
  {% endfor %}
  <input type="submit" id="submit" class="btn btn-default" value="Підтвердити" />
</form>

<h1>Спеціальні символи</h1>
<p>? - один будь-який символ</p>
<p>* - багато будь-яких символів</p>
{% endblock %}
