{% extends "layout.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div>
  <a href="/{{ active_page }}/new" class="btn btn-success">
    <span class="glyphicon glyphicon-plus"></span> Створити новий запис
  </a>
  <a href="/{{ active_page }}/find" class="btn btn-info">
    <span class="glyphicon glyphicon-search"></span> Пошук
  </a>
</div>

<div class="table-responsive">
  <table class="table table-hover sortable">
    <thead>
      <tr>
        {% for field in fields %}
          <th>{{ field }}</th>
        {% endfor %}
        <th>Керування</th>
      </tr>
    </thead>

    <tbody>
      {% for record in records %}
        <tr>
          {% for field in fields %}
            {% if field == 'id' %}
              <td><a href="/{{ active_page }}/{{ record.id }}">{{  record.__dict__['_data'][field] }}</a></td>
            {% else %}
              <td>{{ record.__dict__['_data'][field] }}</td>
            {% endif %}
          {% endfor %}
          <td>
            <a href="/{{ active_page }}/edit/{{ record.id }}" class="btn btn-info">
              <span class="glyphicon glyphicon-pencil"></span> Змінити
            </a>
            <a href="/{{ active_page }}/delete/{{ record.id }}" class="btn btn-danger">
              <span class="glyphicon glyphicon-remove"></span> Видалити
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
